h1{
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 40px;
}
.menu{
    background-color: rgb(248, 236, 238);
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
h2{
    text-align: center;
}
body{
    font-family: "Sour Gummy", serif;
    background-image: url(https://as1.ftcdn.net/v2/jpg/00/77/32/84/1000_F_77328450_NQaQ2PuszDKmbyP2cCdD3Y4lsCvkycJC.jpg);
    padding: 20px;
}
.established{
    text-align: center;
    font-style: italic;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.flavor, .dessert{
    text-align: left;
    width: 65%;
}
.price{
    text-align:right ;
    width: 25%;
}
#di{
    height: 100px;
    width: 100px;
    
}
.h{
    height: 2px;
    color: rgb(248, 31, 103);
}
